.idea
*.iml
*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
Thumbs.db
build/
.navigation
captures/
output.json
obj/
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild